
<!--<!DOCTYPE html>-->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Zync LTD</title>

        <!-- Icon css link -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/magnify-popup/magnific-popup.css' %}" rel="stylesheet">


        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="{% static 'img/adminlogo.png' %}" alt="" width="160px" height="40px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item "><a class="nav-link" href="{% url 'viewhomepage' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'viewaboutuspage' %}">About Us</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'viewcategorypage' %}">Category</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'viewportfoliopage' %}">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'viewcontactuspage' %}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'viewreviewpage' %}">Review</a></li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.session.username1 %}
                                <i class="fa fa-user">&nbsp;&nbsp;</i><B>{{ request.session.username1 }}</B>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item"><a class="nav-link" href="{% url 'webloginpage' %}">SIGN IN</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'custumerlogout' %}">LOGOUT</a></li>
                            </ul>
                        </li>
                      <li><a class="shopping-cart" href="{% url 'viewfinalcartpage' %}"><i class="fa fa-shopping-cart"></i></a></li>

                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>PRODUCTS</h2>
                    <p>See what we do best</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================End Banner Area =================-->
        <section class="service_feature">
            <div class="container">
                <div class="row feature_inner">
                     {% for product in products %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="{{ product.IMAGE.url }}" alt="" width="70px" height="70px">
                            </div>
                            <h4>{{ product.NAME }}</h4>
                            <p>{{ product.PRIZE }} /-</p>
                            <p>{{ product.SPECIFICATION }}</p>
                            <a class="more_btn" href="{% url 'viewsingleproductpage' dataid=product.id %}">{{ product.NAME }} Details</a>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>y
        </section>
        <!--================End Banner Area =================-->

        <!--================Circle Chart Area =================-->

        <!--================End Circle Chart Area =================-->

        <!--================Service Solution Area =================-->
        <section class="service_solution_area p_100">
            <div class="container">
                <div class="row s_solution_inner">
                    <div class="col-lg-6">
                        <div class="s_solution_item">
                            <div class="l_title">
                                <img src="{% static 'img/icon/title-icon.png' %}" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Service Solution Area =================-->

        <!--================Footer Area =================-->
        <footer class="footr_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row footer_widget_inner">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget f_about_widget">
                                <img src="{% static 'img/adminlogo.png' %}" width="150px">
                                <p></p>
                            </aside>
                        </div>

                </div>
            </div>
            <div class="footer_copyright">
                <div class="container">
                    <div class="float-sm-left">
                        <h5><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">ZyncLab</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></h5>
                    </div>
                    <div class="float-sm-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <!-- Extra plugin css -->
        <script src="{% static 'vendors/counterup/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'vendors/counterup/apear.js' %}"></script>
        <script src="{% static 'vendors/counterup/countto.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/magnify-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/smoothscroll.js' %}"></script>
        <script src="{% static 'vendors/circle-bar/circle-progress.min.js' %}"></script>
        <script src="{% static 'vendors/circle-bar/plugins.js' %}"></script>

        <script src="{% static 'js/circle-active.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>